<div class="text-bg-primary p-2 fs-3 text-center py-4">
  Nagłówek
</div>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col">
      <input class="form-control" placeholder="Dodaj zadanie" #todoText />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="addItem(todoText.value)">
        Dodaj
      </button>
    </div>
  </div>
</div>

<table class="table table-striped table-bordered mt-5 table-sm">
  <thead>
    <tr>
      <th>Numer</th>
      <th>Nazwa</th>
      <th>Ukończone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tasks; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.task}}</td>
      <td>
        <input type="checkbox" [(ngModel)]="item.complete" />
        {{item.complete ? 'TAK' : ''}}
      </td>
      <!-- <td [ngSwitch]="item.complete">
        <span *ngSwitchCase="true">TAK</span>
        <span *ngSwitchDefault> </span>
      </td> -->
    </tr>
  </tbody>
</table>

<p>Razem: {{ itemCountText() }}</p>

<p>Razem: {{ tasks.length | i18nPlural:zadanieMapa:'pl-PL' }}</p>
<p>Razem: {{ tasks.length | liczbaZadan }}</p>
<p>{{ data | date:'YYYY-MM-dd HH:mm:ss' }}</p>

<p>{{ 15.9 | currency:'PLN':'code':'1.3-3' }}</p>
<p>{{ 15.9 | currency:'PLN':'symbol-narrow' }}</p>

<div class="text-bg-secondary p-2">
  <input type="checkbox" [(ngModel)]="showCompleted" id="showCompleted" />
  <label for="showCompleted">Pokaż ukończone</label>
</div>
