<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<header>
  <h1>Lista Adama</h1>
</header>

<div class="zawartosc">

  <div class="pole-tekstowe">
    <label for="zadanie">Zadanie</label>
    <input type="text" id="zadanie"/>
  </div>

  <div class="pole-tekstowe">
    <label for="miejsce">Miejsce</label>
    <input type="text" id="miejsce"/>
  </div>

  <div class="checkbox">
    <input type="checkbox" id="wykonane" />
    <label for="wykonane">Wykonane</label>
  </div>

  <button>Dodaj</button>
</div>
