<header class="container-fluid bg-primary p-3 ">
  <h1 class="text-white text-center m-0">Lista zadań</h1>
  <h2 class="text-white text-center"> {{ zadania.nazwa }} </h2>
</header>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col">
      <!-- <input class="form-control" placeholder="Dodaj zadanie" #nazwa /> -->
      <input class="form-control" placeholder="Dodaj zadanie" [(ngModel)]="nazwaNowegoZadania" />
    </div>
    <div class="col-auto">
      <!-- <button class="btn btn-primary" (click)="dodajZadanie(nazwa.value); nazwa.value = ''">Dodaj</button> -->
      <button class="btn btn-primary" (click)="dodajZadanie2()">Dodaj</button>
    </div>
</div>

<div class="container-fluid">
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Zadanie</th>
        <th>Zakończone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of listaZadan(); let nr = index">
        <td>{{ nr + 1 }}</td>
        <td [formatujZadanie]="element">{{ element.nazwa | titlecase }}</td>
        <td>
          <input type="checkbox" class="form-check-input" [(ngModel)]="element.zakonczone" />
          {{ element.zakonczone ? 'TAK' : '' }}
        </td>
      </tr>
    </tbody>
  </table>

  <app-liczba-zadan [lista]="listaZadan()"></app-liczba-zadan>

  <app-filtr (zmianaFiltra)="pokazUkonczone = $event"></app-filtr>

  {{ zadania.dataUtworzenia | date:'short' }}

  <!-- <p>{{ 0.0524552 | percent:'3.1-1' }}</p>
  <p>{{ 0.0524552 | number:'1.2-2' }}</p>

  <p>{{ 0.0524552 | number }}</p>

  <p>{{ 1.5 | currency:'PLN':'symbol':'1.3-3' }}</p>

  <p> {{ data }}</p>
  <p> {{ data | date:'YYYY-MM-dd HH:mm' }} -->
</div>
