<header class="container-fluid bg-primary p-3 ">
  <h1 class="text-white text-center m-0">Lista zadań</h1>
  <h2 class="text-white text-center"> {{ zadania.nazwa }} </h2>
</header>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col">
      <!-- <input class="form-control" placeholder="Dodaj zadanie" #nazwa /> -->
      <input class="form-control" placeholder="Dodaj zadanie" [(ngModel)]="nazwaNowegoZadania" />
    </div>
    <div class="col-auto">
      <!-- <button class="btn btn-primary" (click)="dodajZadanie(nazwa.value); nazwa.value = ''">Dodaj</button> -->
      <button class="btn btn-primary" (click)="dodajZadanie2()">Dodaj</button>
    </div>
</div>

<div class="container-fluid">
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Zadanie</th>
        <th>Zakończone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of listaZadan(); let nr = index">
        <td>{{ nr + 1 }}</td>
        <td [formatujZadanie]="element">{{ element.nazwa }}</td>
        <td>
          <input type="checkbox" class="form-check-input" [(ngModel)]="element.zakonczone" />
          {{ element.zakonczone ? 'TAK' : '' }}
        </td>
      </tr>
    </tbody>
  </table>

  <p>{{ iloscZadan() }}</p>

  <div class="text-bg-secondary p-2 rounded">

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
        [(ngModel)]="pokazUkonczone">
      <label class="form-check-label" for="flexSwitchCheckDefault">Pokaż ukończone</label>
    </div>
  </div>
</div>
