<app-naglowek [nazwaZadania]="dane.zadania.nazwa"></app-naglowek>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col">
      <!-- <input class="form-control" placeholder="Dodaj zadanie" #nazwa /> -->
      <input class="form-control" placeholder="Dodaj zadanie" [(ngModel)]="nazwaNowegoZadania" />
    </div>
    <div class="col-auto">
      <!-- <button class="btn btn-primary" (click)="dodajZadanie(nazwa.value); nazwa.value = ''">Dodaj</button> -->
      <button class="btn btn-primary" (click)="dodajZadanie2()">Dodaj</button>
    </div>
</div>

<div class="container-fluid">

  <app-lista-zadan [lista]="dane.listaZadan()" (zadanieUkonczone)="dane.zapisz()"></app-lista-zadan>

  <app-liczba-zadan [lista]="dane.listaZadan()"></app-liczba-zadan>

  <app-filtr></app-filtr>

  {{ dane.zadania.dataUtworzenia | date:'short' }}

</div>
